<div class="Education">
  <h2>Education</h3>
  <div class="education">
       <div class="edu-box">
            <h3>Ongoing</h3>
            <h4>SRM University, AP</h4>
            <p>Computer Science and Engineering</p>
            <p>CGPA: 9.1</p>
            <p>2022-2026</p>
       </div>
       <div class="edu-box">
            <h4>VidyaGyan School, Sitapur, U.P.</h4>
            <p>CBSE</p>
            <p>Percentage: 94%</p>
            <p>2020-2022</p>
       </div>
       <div class="edu-box">
            <h4>VidyaGyan School, Sitapur, U.P.</h4>
            <p>CBSE</p>
            <p>Percentage: 93%</p>
            <p>2018-2020</p>
       </div>
  </div>
</div>