<div class="Participation">
     <h3 style="text-align: center;">Participation</h3>
     <div class="participation">
          <div class="participation-box">
               <h4>DeFy'24</h4>
               <p>participated and got selected in Round 1(Ideathon Round) and will be participate in round 2</p>
          <div class="participation-box">
               <h4>Smart India Hackathon</h4>
               <p>Participated in SIH 2023 in software category</p>
          </div>
          <div class="participation-box">
               <h4>Flipkart GRiD 5.0 </h4>
               <p>Participated in the Software Development Track</p>
          </div>

          <div class="participation-box">
               <h4>Hack SRM 4.0</h4>
               <p>Got selected in ideathon round and participated round-2, i.e project building</p>
          </div>
          <div class="participation-box">
               <h4>Codegoda 2023</h4>
               <p>Participated in the coding round</p>
          </div>
     </div>
</div>